In [146]:
import pandas as pd
from tqdm import tqdm

In [147]:
DIRETORIO_DADOS = 'dados'
DIRETORIO_RESULTADOS = 'resultados'

ANOS = ['2019', '2020', '2021', '2022', '2023']
TIPOS_PROFISSIONAL = ['Técnico Administrativo', 'Docente']
ESCOLARIDADES_TECNICO = ['Fundamental Incompleto', 'Fundamental Completo', 'Médio', \
                         'Superior', 'Especialização', 'Mestrado', 'Doutorado']
ESCOLARIDADES_DOCENTE = ['Sem Graduação', 'Superior', 'Especialização', 'Mestrado', 'Doutorado']
SEXOS = ['Todos', 'Feminino', 'Masculino']

In [148]:
def define_rede_ensino(categoria_adm):
    categoria_adm = int(categoria_adm)
    if categoria_adm in [1, 2, 3]:
        return 'Pública'
    elif categoria_adm in [4, 5, 6, 8, 9]:
        return 'Privada'
    elif categoria_adm == 7:
        return 'Especial'
    else:
        return None

In [149]:
df = pd.DataFrame()

for ano in ANOS:
    df_ano = pd.read_csv(f'{DIRETORIO_DADOS}/dados_{ano}.csv', dtype='str', keep_default_na=False, na_values=[' '])
    df = pd.concat([df, df_ano], ignore_index=True)
    del(df_ano)

df

,NU_ANO_CENSO,NO_REGIAO_IES,CO_REGIAO_IES,NO_UF_IES,SG_UF_IES,CO_UF_IES,NO_MUNICIPIO_IES,CO_MUNICIPIO_IES,IN_CAPITAL_IES,NO_MESORREGIAO_IES,...,QT_DOC_EX_COR_ND,QT_DOC_EX_BRA,QT_DOC_EX_EST,QT_DOC_EX_COM_DEFICIENCIA,CO_PROJETO,CO_LOCAL_OFERTA,NO_LOCAL_OFERTA,TP_REDE,IN_COMUNITARIA,IN_CONFESSIONAL
0,2019,Centro-Oeste,5,Mato Grosso,MT,51,Cuiabá,5103403,1,Centro-Sul Mato-grossense,...,246,2318,42,5,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,1,Distrito Federal,...,562,2767,170,4,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Nordeste,2,Sergipe,SE,28,São Cristóvão,2806701,0,Leste Sergipano,...,1331,1789,29,3,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Norte,1,Amazonas,AM,13,Manaus,1302603,1,Centro Amazonense,...,1648,1739,2,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Nordeste,2,Piauí,PI,22,Teresina,2211001,1,Centro-Norte Piauiense,...,1302,1729,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12809,2023,Sudeste,3,São Paulo,SP,35,Votorantim,3557006,0,Macro Metropolitana Paulista,...,1,21,0,0,NaN,NaN,NaN,1,0,0
12810,2023,Norte,1,Tocantins,TO,17,Araguaína,1702109,0,Ocidental do Tocantins,...,9,303,7,3,NaN,NaN,NaN,1,0,0
12811,2023,Centro-Oeste,5,Goiás,GO,52,Anápolis,5201108,0,Centro Goiano,...,1,7,0,0,NaN,NaN,NaN,1,0,0
12812,2023,Centro-Oeste,5,Goiás,GO,52,Catalão,5205109,0,Sul Goiano,...,0,10,0,0,NaN,NaN,NaN,1,0,0
12813,2023,Centro-Oeste,5,Goiás,GO,52,Goianésia,5208608,0,Centro Goiano,...,0,2,0,0,NaN,NaN,NaN,1,0,0

In [153]:
dim_tempo = pd.DataFrame(columns=['Ano'], data=ANOS).reset_index()

dim_tempo.columns = ['IDTempo', 'Ano']

dim_tempo.to_csv(f"{DIRETORIO_RESULTADOS}/DTempo.csv", encoding='utf-8')
dim_tempo

   IDTempo   Ano
0        0  2019
1        1  2020
2        2  2021
3        3  2022
4        4  2023

In [154]:
linhas_dim = []

cont = 0
for escolaridade in ESCOLARIDADES_TECNICO:
    for sexo in SEXOS:
        linha = [cont, 'Técnico Admnistrativo', escolaridade, sexo]
        linhas_dim.append(linha)
        cont += 1

for escolaridade in ESCOLARIDADES_DOCENTE:
    linha = [cont, 'Docente', escolaridade, 'Todos']
    linhas_dim.append(linha)
    cont += 1

dim_profissional = pd.DataFrame(columns=['IDProfissional', 'TipoProfissional', 'Escolaridade', 'Sexo'], data = linhas_dim)

dim_profissional.to_csv(f"{DIRETORIO_RESULTADOS}/DProfissional.csv", encoding='utf-8')

dim_profissional

    IDProfissional       TipoProfissional            Escolaridade       Sexo
0                0  Técnico Admnistrativo  Fundamental Incompleto      Todos
1                1  Técnico Admnistrativo  Fundamental Incompleto   Feminino
2                2  Técnico Admnistrativo  Fundamental Incompleto  Masculino
3                3  Técnico Admnistrativo    Fundamental Completo      Todos
4                4  Técnico Admnistrativo    Fundamental Completo   Feminino
5                5  Técnico Admnistrativo    Fundamental Completo  Masculino
6                6  Técnico Admnistrativo                   Médio      Todos
7                7  Técnico Admnistrativo                   Médio   Feminino
8                8  Técnico Admnistrativo                   Médio  Masculino
9                9  Técnico Admnistrativo                Superior      Todos
10              10  Técnico Admnistrativo                Superior   Feminino
11              11  Técnico Admnistrativo                Superior  Masculino
12              12  Técnico Admnistrativo          Especialização      Todos
13              13  Técnico Admnistrativo          Especialização   Feminino
14              14  Técnico Admnistrativo          Especialização  Masculino
15              15  Técnico Admnistrativo                Mestrado      Todos
16              16  Técnico Admnistrativo                Mestrado   Feminino
17              17  Técnico Admnistrativo                Mestrado  Masculino
18              18  Técnico Admnistrativo               Doutorado      Todos
19              19  Técnico Admnistrativo               Doutorado   Feminino
20              20  Técnico Admnistrativo               Doutorado  Masculino
21              21                Docente           Sem Graduação      Todos
22              22                Docente                Superior      Todos
23              23                Docente          Especialização      Todos
24              24                Docente                Mestrado      Todos
25              25                Docente               Doutorado      Todos

In [155]:
dim_regiao = df[['NO_REGIAO_IES', 'NO_UF_IES', 'SG_UF_IES', \
                  'NO_MUNICIPIO_IES', 'CO_MUNICIPIO_IES']].drop_duplicates().reset_index()

dim_regiao.columns = ['IDRegiao', 'NomeRegiao', 'NomeUnidadeFederacao', \
                      'SiglaUnidadeFederacao', 'NomeMunicipio', 'CodigoMunicipio']

dim_regiao['IDRegiao'] = list(range(dim_regiao.shape[0]))

dim_regiao.to_csv(f"{DIRETORIO_RESULTADOS}/DRegiao.csv", encoding='utf-8')

dim_regiao

,IDRegiao,NomeRegiao,NomeUnidadeFederacao,SiglaUnidadeFederacao,NomeMunicipio,CodigoMunicipio
0,0,Centro-Oeste,Mato Grosso,MT,Cuiabá,5103403
1,1,Centro-Oeste,Distrito Federal,DF,Brasília,5300108
2,2,Nordeste,Sergipe,SE,São Cristóvão,2806701
3,3,Norte,Amazonas,AM,Manaus,1302603
4,4,Nordeste,Piauí,PI,Teresina,2211001
...,...,...,...,...,...,...
773,773,Nordeste,Bahia,BA,Ibicaraí,2912103
774,774,Centro-Oeste,Goiás,GO,Cidade Ocidental,5205497
775,775,Nordeste,Bahia,BA,Amargosa,2901007
776,776,Sul,Paraná,PR,Bandeirantes,4102406
777,777,Centro-Oeste,Mato Grosso,MT,Água Boa,5100201

In [156]:
dim_instituicao = df[['NO_IES', 'SG_IES', 'NO_MANTENEDORA', 'TP_CATEGORIA_ADMINISTRATIVA', \
                      'TP_ORGANIZACAO_ACADEMICA', 'DS_ENDERECO_IES', 'DS_NUMERO_ENDERECO_IES', 'NO_BAIRRO_IES', \
                      'DS_COMPLEMENTO_ENDERECO_IES', 'NU_CEP_IES']].drop_duplicates().reset_index()

dim_instituicao.columns = ['IDInstituicao', 'NomeInstituicao', 'SiglaInstituicao', 'NomeMantenedora', 'TipoDeCategoriaAdministrativa', \
                           'TIpoOrganizacaoAcademica', 'Endereco', 'NumEndereco', 'BairroEndereco', 'ComplementoEndereco', 'CEP']

dim_instituicao['RedeEnsino'] = dim_instituicao['TipoDeCategoriaAdministrativa'].apply(define_rede_ensino)

colunas = dim_instituicao.columns.to_list()

dim_instituicao = dim_instituicao[colunas[:4] + colunas[-1:] + colunas[4:-1]]

dim_instituicao['IDInstituicao'] = list(range(dim_instituicao.shape[0]))

dim_instituicao.to_csv(f"{DIRETORIO_RESULTADOS}/DInstituicao.csv", encoding='utf-8')

dim_instituicao

,IDInstituicao,NomeInstituicao,SiglaInstituicao,NomeMantenedora,RedeEnsino,TipoDeCategoriaAdministrativa,TIpoOrganizacaoAcademica,Endereco,NumEndereco,BairroEndereco,ComplementoEndereco,CEP
0,0,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública,1,1,Avenida Fernando Correa da Costa,2367,Boa Esperança,Cidade Universitária,78060900
1,1,UNIVERSIDADE DE BRASÍLIA,UNB,FUNDACAO UNIVERSIDADE DE BRASILIA,Pública,1,1,Campus Universitário Darcy Ribeiro,s/n,Asa Norte,,70910900
2,2,UNIVERSIDADE FEDERAL DE SERGIPE,UFS,FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE,Pública,1,1,Avenida Marechal Rondon,s/n,Jardim Rosa Elze,,49100000
3,3,UNIVERSIDADE FEDERAL DO AMAZONAS,UFAM,FUNDACAO UNIVERSIDADE DO AMAZONAS,Pública,1,1,Av. Rodrigo Otávio,6200,Coroado II,Campus Universitário,69077000
4,4,UNIVERSIDADE FEDERAL DO PIAUÍ,UFPI,FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI,Pública,1,1,Campus Universitário Ministro Petrônio Portela,s/n,Ininga,SG - 07,64049550
...,...,...,...,...,...,...,...,...,...,...,...,...
6165,6165,Faculdade de Tecnologia de Votorantim,FATEC-VOT,CENTRO ESTADUAL DE EDUCACAO TECNOLOGICA PAULA ...,Pública,2,3,Avenida Juscelino Kubitschek de Oliveira,279,Centro,-,18110008
6166,6166,Universidade Federal do Norte do Tocantins,UFNT,UNIVERSIDADE FEDERAL DO NORTE DO TOCANTINS - UFNT,Pública,1,1,Paraguai,S/N,Bairro da Cimba,-,77824838
6167,6167,COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...,COTEC GOQ,SECRETARIA DE ESTADO DA RETOMADA,Pública,2,3,RUA VP 4D,s/n,Distrito Agroindustrial de Anápolis,QUADRA 8A - MÓDULOS DE 3 A 6,75132105
6168,6168,COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS AGUINAL...,COTEC-ACN,SECRETARIA DE ESTADO DA RETOMADA,Pública,2,3,Avenida Eixo Principal,s/n,Distrito Minero Industrial de Catalão,-,75709660
6169,6169,COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...,COTEC GOL,SECRETARIA DE ESTADO DA RETOMADA,Pública,2,3,Avenida Contorno - Quadra 8,s/n,Setor Universitário,-,76382003

In [157]:
fato_quantidadeprofissionais = pd.DataFrame(columns=['IDRegiao', 'IDInstituicao', 'IDProfissional', 'IDTempo', 'Quantidade_Profissionais'])

for i, row in tqdm(df.iterrows(), total=df.shape[0]):
    id_tempo = dim_tempo[dim_tempo['Ano'] == row['NU_ANO_CENSO']]['IDTempo'].to_list()[0]

    id_regiao = dim_regiao[(dim_regiao['NomeRegiao'] == row['NO_REGIAO_IES']) & \
                           (dim_regiao['NomeUnidadeFederacao'] == row['NO_UF_IES']) & \
                           (dim_regiao['SiglaUnidadeFederacao'] == row['SG_UF_IES']) & \
                           (dim_regiao['NomeMunicipio'] == row['NO_MUNICIPIO_IES']) & \
                           (dim_regiao['CodigoMunicipio'] == row['CO_MUNICIPIO_IES'])]['IDRegiao'].to_list()[0]
    
    id_instituicao = dim_instituicao[(dim_instituicao['NomeInstituicao'] == row['NO_IES']) & \
                                     (dim_instituicao['SiglaInstituicao'] == row['SG_IES']) & \
                                     (dim_instituicao['NomeMantenedora'] == row['NO_MANTENEDORA']) & \
                                     (dim_instituicao['TipoDeCategoriaAdministrativa'] == row['TP_CATEGORIA_ADMINISTRATIVA']) & \
                                     (dim_instituicao['TIpoOrganizacaoAcademica'] == row['TP_ORGANIZACAO_ACADEMICA']) & \
                                     (dim_instituicao['Endereco'] == row['DS_ENDERECO_IES']) & \
                                     (dim_instituicao['NumEndereco'] == row['DS_NUMERO_ENDERECO_IES']) & \
                                     (dim_instituicao['BairroEndereco'] == row['NO_BAIRRO_IES']) & \
                                     (dim_instituicao['ComplementoEndereco'] == row['DS_COMPLEMENTO_ENDERECO_IES']) & \
                                     (dim_instituicao['CEP'] == row['NU_CEP_IES'])]['IDInstituicao'].to_list()[0]

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 0,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_FUNDAMENTAL_INCOMP_FEM']) + int(row['QT_TEC_FUNDAMENTAL_INCOMP_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 1,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_FUNDAMENTAL_INCOMP_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 2,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_FUNDAMENTAL_INCOMP_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 3,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_FUNDAMENTAL_COMP_FEM']) + int(row['QT_TEC_FUNDAMENTAL_COMP_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 4,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_FUNDAMENTAL_COMP_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 5,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_FUNDAMENTAL_COMP_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 6,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_MEDIO_FEM']) + int(row['QT_TEC_MEDIO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 7,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_MEDIO_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 8,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_MEDIO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 9,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_SUPERIOR_FEM']) + int(row['QT_TEC_SUPERIOR_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 10,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_SUPERIOR_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 11,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_SUPERIOR_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 12,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_ESPECIALIZACAO_FEM']) + int(row['QT_TEC_ESPECIALIZACAO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 13,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_ESPECIALIZACAO_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 14,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_ESPECIALIZACAO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 15,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_MESTRADO_FEM']) + int(row['QT_TEC_MESTRADO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 16,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_MESTRADO_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 17,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_MESTRADO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 18,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_DOUTORADO_FEM']) + int(row['QT_TEC_DOUTORADO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 19,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_DOUTORADO_FEM'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 20,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_TEC_DOUTORADO_MASC'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 21,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_DOC_EX_SEM_GRAD'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 22,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_DOC_EX_GRAD'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 23,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_DOC_EX_ESP'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 24,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_DOC_EX_MEST'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

    dict_aux = {
        'IDRegiao' : id_regiao,
        'IDInstituicao' : id_instituicao,
        'IDProfissional' : 25,
        'IDTempo' : id_tempo,
        'Quantidade_Profissionais' : int(row['QT_DOC_EX_DOUT'])
    }
    df_aux = pd.DataFrame([dict_aux])
    fato_quantidadeprofissionais = pd.concat([fato_quantidadeprofissionais, df_aux], ignore_index=True)

fato_quantidadeprofissionais.to_csv(f"{DIRETORIO_RESULTADOS}/Fato_QuantidadeProfissionais.csv", encoding='utf-8')

  0%|          | 0/12814 [00:00<?, ?it/s]

100%|██████████| 12814/12814 [36:45<00:00,  5.81it/s]

In [ ]:
fato_quantidadeprofissionais